<h1>Nasa Image of the day from <%= @newdate %></h1>


<button class="btn"><%= link_to 'New Image Request', things_path('things') %></button>
<div style="height: 100px;"></div>

<img src="<%= @url  %>">

<%= debug @url %>
<%= debug @newdate %>

<%= debug @thing.date %>
