<h3><span><%= @newdate %></span></h3>


<div style="height: 20px;"></div>

<a href="<%= @url %>"><img src="<%= @url  %>"></a>
<div style="height: 15px;"></div>

<button class="btn showbut btn-danger"><%= link_to 'New Image Request', things_path('things') %></button>

<div style="height: 50px;"></div>

<%= debug @url %>
<%= debug @newdate %>

<%= debug @thing.date %>
